menuentry "PolinaGNOME (GNOME Desktop on Debian GNU/Linux)" --class polinagnome --class debian {
    # System boot parameters go here
}
menuentry "PolinaGNOME Advanced Options (Debian Kernel Recovery)" --class polinagnome --class debian {
    # System recovery parameters go here
}
